<html>

<head>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div>
        <a href="/api/decks">Dashboard</a>
    </div>
    <form method="GET" action="/api/decks/{{deck.id}}/start">
        <button type="submit">Next</button>
    </form>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                {{card.question}}
            </div>
            <div class="back">
                {{card.answer}}
            </div>
        </div>
    </div>


    <form method="POST" action="/api/decks/{{deck.id}}/{{card.cardId}}/incorrect">
        <button type="submit">Answered Incorrectly</button>
    </form>
    <form method="POST" action="/api/decks/{{deck.id}}/{{card.cardId}}/correct">
        <button type="submit">Answered Correctly</button>
    </form>

</body>

</html>