<html>

<head>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class='form-wrapper-left'>
    <form method="POST" action="/api/logout">
        <button class="buttons" type="submit">Logout</button>
    </form>
    </div>
    <p>{{errMessage}}</p>
    <div class='form-wrapper-center'>
    <form method="POST" action="/api/decks">
        <input class="inputs" type="text" name="name" placeholder="New Deck Name:">
        <button class="buttons" type="submit">Add</button>
    </form>
    </div>

    {{#data}}
    <div class='form-wrapper-center'>
    <p class="center-text-large">{{name}}</p>
    <form method="GET" action="/api/decks/{{id}}/start">
        <button class="buttons" type="submit">Start Quiz</button>
    </form>
    <form method="GET" action="/api/decks/{{id}}">
        <button class="buttons" type="submit">Manage Deck</button>
    </form>
    </div>
    {{/data}}
</body>

</html>