<html>

<head>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div>
        <a href="/api/decks">Dashboard</a>
        <form method="POST" action="/api/logout">
            <button type="submit">Logout</button>
        </form>
    </div>
    <p>{{data.name}}</p>

    {{#data.cards}}
    <form method="POST" action="/api/decks/{{data.id}}/update/{{cardId}}">
        <input type="text" name="question" value="{{question}}">
        <input type="text" name="answer" value="{{answer}}">
        <button type="submit">Update Card</button>
    </form>
    <form method="POST" action="/api/decks/{{data.id}}/delete/{{cardId}}">
        <button type="submit">Delete Card</button>
    </form>
    {{/data.cards}}

    <form method="POST" action="/api/decks/{{data.id}}">
        <input type="text" name="question" placeholder="Question">
        <input type="text" name="answer" placeholder="Answer">
        <button type="submit">Submit New Card</button>
    </form>

</body>

</html>